<app-first-demo *ngIf="myBooleanVar"></app-first-demo>
<button (click)="myBooleanVar = !myBooleanVar">Toggle FirstDemoComponent</button>

<app-two-way-demo></app-two-way-demo>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poke of myPokemon">
      <td>{{ poke.id }}</td>
      <td>{{ poke.name }}</td>
      <td><img [src]="poke.sprites.front_default" /></td>
    </tr>
  </tbody>
</table>


<div id="pipe-demo">
  <h1>Pipe Demo</h1>
  <input type="number" [(ngModel)]="currencyValue" />
  <p>{{ currencyValue | currency: 'AUD' }}</p>

  <br>

  <p>Current Conversion Direction: {{ reversedConversion ? 'Celsius to Fahrenheit' : 'Fahrenheit to Celsius' }}</p>
  <label>Temperature Input</label>
  <input type="number" [(ngModel)]="temperature" />
  <p>Converted temperature: {{ temperature | fahrenheitToCelsius: reversedConversion }}</p>
  <button (click)="reversedConversion = !reversedConversion">Toggle Conversion</button>
</div>
